* {
    background-color: #d7dfdb;
    text-align: center;
    
    
    

}
/* body { */
    /* margin-right: 300px; */
/* } */

/* nav li {
    float: left;
    height: 20px;
    background-color :rgb(241, 167, 225);
    margin-right: 200px;
  }
  
  ul {
    list-style: none;
    margin-right: 200px;
  } */
  
    