* {
    background-color: #d7dfdb;

}
  h1{
   font-size: 40px;
   text-align: center;
   color: blue;
   font-family: 'Galada', cursive;
   }

  main ul {
    width: 200px;
    padding: 5px;
    font-size: 30px;
   
  }
   h2{
       text-align: left;
       color: blue;
   }
  
  /* #stores-info {
    width: 300px;
    margin: auto;
    float: inline-start; */
  }
  
  #table {
    text-align: center;  
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 500px;
    margin-left: 200px;
    background-color: #16e720

  }
  
  td, th {
    border: 1px solid #492f2f;
    text-align: left;
    padding: 5px;
    background-color: red;
  }
  
  tr:nth-child(even) {
    background-color: #3908e9;
  }

  #table {
    background-color: seagreen;
  }
  
  form button {
    width: fit-content;
  }
  form button {
    color: #4CAF50;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  

